HOST=change_me
VIRTUAL_HOST=change_me

#Let's encrypt credentials
LETSENCRYPT_EMAIL=change_me
LETSENCRYPT_HOST=change_me

#Database credentials
MYSQL_HOST=change_me
MYSQL_DATABASE=change_me

MYSQL_ROOT_PASSWORD=change_me
MYSQL_USER=change_me
MYSQL_PASSWORD=change_me

#Grafana credentials
GRAFANA_USER=change_me
GRAFANA_PASSWORD=change_me
GRAFANA_HOST=change_me