**/*.secret.yaml
.env

ansible/group_vars/all/all.yml
ansible/group_vars/all/vault.yml 
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl
**/terraform.tfvars
**/inventory.ini
*.pem
*.key
