# manifests/ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-web
  namespace: {{ namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-{{ letsencrypt_env }}"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ domain }}
    - github.{{ domain }}    
    secretName: nginx-web-tls
  rules:
  - host: {{ domain }}  
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nginx-web
            port:
              number: 80
              
  - host: github.{{ domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nginx-web
            port:
              number: 80