apiVersion: v1
kind: Secret
metadata:
  name: mysql-credentials
  namespace: {{ namespace }}
type: Opaque
data:
  MYSQL_HOST:     {{ MySQL_host_base64 }}
  MYSQL_DATABASE: {{ MySQL_database_base64 }}
  MYSQL_USER:     {{ MySQL_user_base64 }}
  MYSQL_PASSWORD: {{ MySQL_password_base64 }}
